<div class="displayBox">
  <h3>Candidates</h3>
  <ul>
      <li [class.selected]="crew.includes(member)" *ngFor="let member of candidates" (click)="addCrewMember(member)">{{member.name}}</li>
  </ul>
</div>
<hr>
<div class="displayBox">
  <h3>Crew <!-- Add a span tag here to display 'Full' when the crew reaches 3. --> <span *ngIf="crew.length>2">Full</span> </h3>
  <ol>
      <li *ngFor="let astronaut of crew" (mouseover)="selected = astronaut" (mouseout)="selected = false">{{astronaut.name}}</li>
  </ol>
  <!-- Add an img tag here to display astronaut photos. -->
  <img *ngIf="selected" [src]="selected.photo">
</div>
