.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 2px;
    cursor: pointer;
}

h3 {
    text-align: center;
}

button:disabled, button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
/* Add an 'active' class to style the background of the 'Add to Cargo Hold' buttons. */
.active{
    background-color: gold;
}


/* Add the 'nearMaxMass' class style here: */
.nearMaxMass{
    font-weight: 900;
    color: red;
}
