.box {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}
h1 {
    color: rgb(185, 135, 6);
    font-family: 'Courier New', Courier, monospace;
}
h3 {
    color: rgb(88, 67, 12);
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
}
li,p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;  
}